<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Main</title>
	<link rel="stylesheet" href="static/main/CSS/style_main_page.css">
</head>
<body>
	<div>
		<button class="button_buy">
			<a href="http://127.0.0.1:8000/buy/" class="link_buy"><span class="link_buy">Купить</span></a>
		</button>
	</div>
	<div>
		<button class="button_sell">
			<a href="http://127.0.0.1:8000/sell/" class="link_buy"><span class="link_buy">Продать</span></a>
		</button>
	</div>
</body>
</html>